.hdr {
    width: calc(100% - 32px);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    &-brand {
        display: flex;
        align-items: center;
        i {
            font-size: 25px;
            margin-right: 16px;
            &:hover {
                cursor: pointer;
                opacity: 0.5;
            }
        }
        font-weight: 500;
    }
}